.main__button button{
  background-color: $nickel;
  color: $white;
  font-family: $roboto;
  border: 1px solid $light-gray;
  margin-top: 2rem;
  margin-right: 1rem;
  padding: 1rem 2rem;
  border-radius: 60px;


}
