//Esquema de colores

//Primer esquema de colores
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;


//Segundo esquema de colores
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

//Tercer esquema de colores
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

//Tipografía
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

//Peso de fuentes
$extra-light: 200;
$regular: 400;
$bold: 700;

//Tamaño de fuentes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
