.header {
  background-image: url('../img/post-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20rem;

  &__titulo--container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;

  }

}
